<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script> 
</head>
<body>
    <div class="col-md-offset-1 row">
        @Html.ActionLink("Hem", "Index", "Main", new {@class ="btn btn-info"}, null)
        @Html.ActionLink("Anmälda", "Index", "Participant", new { @class = "btn btn-info" }, null)
        @Html.ActionLink("Anmälan", "Create", "Participant", new {@class = "btn btn-primary" }, null)
        @Html.ActionLink("Beställ", "Order", "Participant", new { @class = "btn btn-primary" }, null)
    </div>
    <div class="row col-md-offset-1">
        @RenderBody()
    </div>

</body>
</html>

