@model MVC1.Models.ParticipantCreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class= "form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "")

        <div class="form-group">
            @Html.LabelFor(model => model.Participant.Name, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Participant.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Participant.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Participant.Birthday, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Participant.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Participant.Birthday, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Participant.Team, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Participant.Team, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Participant.Team, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-offset-1 col-md-1">
            <input type="submit" value="Lägg till"/>
        </div>
    </div>

    <div class="row">
        @Html.Partial("ParticipantListPartial", Model.ParticipantList.ParticipantList)
    </div>

}


